@charset "utf-8";
/* CSS Document */

/* base开始 */
html,
body {
  font-family: Microsoft sans serif, Verdana, Microsoft PhagsPa, Arial,
    Helvetica;
  text-decoration: none;
  color: #666;
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: capitalize;
}
h1 {
  font-size: 16px;
  font-weight: bold;
}
h3,
h2 {
  font-size: 14px;
  font-weight: bold;
}
.yuzo_related_post {
  clear: left;
}
object {
  display: none !important;
}
img,
a img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #0094da;
}
p {
  line-height: 20px;
}
.clear {
  clear: both;
}

body {
  -webkit-text-size-adjust: none;
}
.fontshrink {
  -webkit-text-size-adjust: none;
  -webkit-transform: scale(0.8);
  -o-transform: scale(1);
  display: inline-block;
}
.site-main {
  flex: 1;
}
/* base结束 */
#m-warp .s-middle,
#footer .footer,
#links ul,
#m-warp .middle,
#nav {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}
/* header开始 */
#top {
  background: url(../images/index-en_06.jpg) repeat-x;
  height: 140px;
  width: 100%;
}
#header {
  position: relative;
}
#header .hl {
  width: 77%;
  background: url(../images/index-en_02.jpg) repeat-x;
  height: 140px;
  float: left;
}
#header .logo1,
#header .logo {
  width: 100%;
  height: 140px;
  background: url(../images/index-en_04.jpg) no-repeat right;
}
#header .logo1 img,
#header .logo img {
  height: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  clear: left;
  margin-left: 17%;
}
#header .logo1 img {
  height: auto;
  padding-top: 0;
  margin-top: 36px;
  padding-bottom: 0px;
  width: 32%;
}

#header .search {
  width: 221px;
  height: 84px;
  float: right;
  padding-top: 56px;
  clear: right;
}
#header .search form {
  height: 35px;
}
#header .search form .sl {
  background: url(../images/search_l.gif) no-repeat left;
  height: 35px;
  width: 184px;
  float: left;
  text-indent: 10px;
  line-height: 35px;
  color: #b3b3b3;
}
#header .search form .sr {
  background: url(../images/search_r.gif) no-repeat left;
  width: 37px;
  height: 35px;
  float: left;
}
#header .search .hs {
  padding-left: 5px;
  line-height: 20px;
  font-size: 10px;
  -webkit-text-size-adjust: none;
}
#header .search .hs a {
  color: #008cd7;
  font-size: 10px;
  letter-spacing: 0px;
  -webkit-text-size-adjust: none;
}
#header .search .hs a:hover {
  color: #d00000;
}
#header .hr {
  float: left;
  width: 23%;
}
#header .hr p {
  line-height: 30px;
  color: #fff;
  text-indent: 10px;
  background: url(../images/index-en_05.jpg) no-repeat;
  win-width: 298px;
  height: 140px;
}
#header .hr a {
  color: #fff;
}
#header .hr a:hover {
  text-decoration: underline;
}
#header .navlist {
  display: none;
}
/* header结束 */
/* menu开始 */
#menu {
  background: url(../images/index-en_12.jpg) repeat-x;
  width: 100%;
  height: 38px;
}
#nav {
  line-height: 38px;
  text-align: center;
  padding: 0;
  z-index: 5000;
}
#nav:after {
  display: table;
  content: '';
  height: 0;
  clear: both;
  visibility: hidden;
}
#nav li {
  background: url(../images/index-en_14.jpg) no-repeat right;
  float: left;
  width: 12.4%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  padding: 0;
  margin: 0;
}
#nav li.long {
  width: 13.5%;
}
#nav li.short {
  width: 10%;
}
#nav li.spa {
  background: url(../images/index-en_14.jpg) no-repeat;
  width: 3px;
}
#nav li a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#nav li a:hover {
  display: block;
  color: #fff;
  text-decoration: none;
  background: url(../images/index-en_13.jpg) repeat-x;
  text-align: center;
  width: 99%;
  float: left;
  clear: left;
}

#nav ul {
  padding: 0;
  margin: 0;
  line-height: 27px;
  text-align: left;
  left: -999em;
  width: 100%;
  top: 0px;
  position: relative;
  z-index: 5000;
}
#nav ul li {
  float: left;
  width: 180px;
  background: #f6f6f6;
  height: 30px;
  z-index: 5000;
}
#nav ul li a {
  padding: 0;
  margin: 0;
  display: block;
  width: 162px;
  text-align: left;
  padding-left: 18px;
  font-size: 12px;
  height: 30px;
  font-weight: normal;
  color: #666;
  background: url(../images/meni_bg.jpg) no-repeat left;
  line-height: 29px;
}
#nav ul li a:hover {
  padding: 0;
  margin: 0;
  display: block;
  color: #f3f3f3;
  font-weight: normal;
  background: #d00000;
  width: 162px;
  height: 30px;
  text-decoration: none;
  text-align: left;
  padding-left: 18px;
  background: url(../images/meni_bg1.jpg) no-repeat left;
  line-height: 29px;
}
#nav li:hover ul {
  left: auto;
}
#nav li.sfhover ul {
  left: auto;
}
#content {
  clear: left;
}
/* menu结束 */

/* index banner开始 */
#banner {
  background: #2d3a57;
  width: 100%;
  z-index: 0;
}
#banner #focus {
  height: 425px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
#banner #focus ul {
  height: 425px;
  position: absolute;
}
#banner #focus ul li {
  float: left;
  height: 425px;
  overflow: hidden;
  position: relative;
  background: #000;
}
#banner #focus ul li img {
  max-height: 425px;
}
#banner #focus ul li .banner_ {
  position: absolute;
  height: auto;
  font-weight: bold;
  overflow: hidden;
  top: 50px;
  width: 100%;
}
#banner #focus ul li .banner_ p img {
  clear: both;
}
#banner #focus ul li .banner_ p {
  position: relative;
  z-index: 1000;
  font-size: 28px;
  font-family: '微软雅黑';
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
}
#banner #focus ul li .banner_ .b-p {
  margin-left: 56%;
}
#banner #focus ul li .banner_ .b-p img {
  width: 450px;
}
#banner #focus ul li .banner_ .b-p1 {
  margin-left: 65%;
}
#banner #focus ul li .banner_ .b-p2 {
  margin-left: 74%;
}
#banner #focus ul li .banner_ .b-p3 {
  margin-left: 76%;
}
#banner #focus ul li .banner_ .b-p4 {
  margin-left: 68%;
}
#banner #focus .btn {
  position: absolute;
  width: 780px;
  height: 10px;
  padding: 5px 10px; /**right:0;**/
  bottom: 0;
  text-align: right;
}
#banner #focus .btn span {
  display: inline-block;
  _display: inline;
  _zoom: 1;
  width: 25px;
  height: 10px;
  _font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
}
#banner #focus .btn span.on {
  background: #fff;
}
#banner #focus .preNext {
  width: 45px;
  height: 100px;
  position: absolute;
  top: 90px;
  background: url(img/sprite.png) no-repeat 0 0;
  cursor: pointer;
}
#banner #focus .pre {
  left: 0;
}
#banner #focus .next {
  right: 0;
  background-position: right top;
}

/* index banner结束 */

/* index middle开始 */
#p-warp2,
#p-warp,
#m-warp {
  background: url(../images/index-en_22.jpg) repeat-x;
  width: 100%;
  padding-top: 39px;
  height: auto;
}
#m-warp .middle {
}
/*#m-warp .middle .title{ font-size:14px; font-weight:700; color:#333; margin-bottom:23px;}*/

#m-warp .middle .title {
  font-size: 16px;
  color: #333;
  margin-bottom: 23px;
}

#m-warp .middle .m-n {
  width: 28%;
  float: left;
  margin-right: 3%;
}
#m-warp .middle .m-n .top-n2,
#m-warp .middle .m-n .top-n {
  width: 100%;
  min-height: 96px;
  height: auto;
}
#m-warp .middle .m-n .top-n2 img {
  width: 100%;
}
#m-warp .middle .m-n .top-n img {
  float: left;
  width: 24%;
  height: 70px;
  margin-right: 4%;
}
#m-warp .middle .m-n .top-n .top-text {
  float: left;
  width: 71%;
}
#m-warp .middle .m-n .top-n p {
  line-height: 20px;
}
#m-warp .middle .m-n .top-n .date {
  height: 16px;
  display: inline-block;
  margin-top: 6px;
  height: 30px;
}
#m-warp .middle .m-n .top-n .date font {
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  float: left;
  height: 18px;
  background: #d00000;
  padding: 0 3px;
  display: inline-block;
}
#m-warp .middle .m-n .top-n .date span {
  font-size: 10px;
  line-height: 18px;
  height: 18px;
  float: left;
  padding: 0 3px;
  background: #dcdcdc;
  display: inline-block;
}
#m-warp .middle .m-n ul {
  margin-top: 17px;
}
#m-warp .middle .m-n ul li {
  height: 48px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
#m-warp .middle .m-n ul li span {
  width: 24%;
  float: left;
  border-right: 1px solid #d4d4d4;
  text-align: center;
  margin-right: 3%;
  height: 48px;
}
#m-warp .middle .m-n ul li p {
  float: left;
  line-height: 16px;
  width: 71%;
  font-size: 12px;
}
#m-warp .middle .m-n ul li p font {
}

#m-warp .middle .m-a {
  width: 39%;
  float: left;
  margin-right: 3%;
  _width: 38%;
}
#m-warp .middle .m-a .m-app {
  width: 100%;
  min-height: 96px;
  height: auto;
}
#m-warp .middle .m-a .m-app .app {
  width: 31%;
  height: 70px;
  float: left;
  margin-right: 2%;
  _margin-right: 1%;
  _width: 31%;
  overflow: hidden;
}
#m-warp .middle .m-a .m-app .app img {
  width: 100%;
  height: 70px;
  _width: 100%;
  position: relative;
}
#m-warp .middle .m-a .m-app .app p {
  display: block;
  left: 0;
  top: -30%;
  height: 30%;
  background-color: #000000;
  opacity: 0.6;
  filter: Alpha(opacity=60);
  position: relative;
  text-align: center;
  width: 100%;
  _width: 100%;
}
#m-warp .middle .m-a .m-app .app a {
  color: #fff;
  font-size: 11px;
}
#m-warp .middle .m-a .m-app .app a:hover {
  text-decoration: underline;
  display: block;
}
#m-warp .middle .m-a .m-about {
  margin-top: 15px;
  width: 100%;
}
#m-warp .middle .m-a .m-about p {
  line-height: 24px;
  margin: 0;
  padding: 0;
}
#m-warp .middle .more {
  font-size: 11px;
  color: #d00000;
  display: block;
  line-height: 16px;
}
#m-warp .middle .more:hover {
  color: #008cd7;
}

#m-warp .middle .m-r {
  width: 27%;
  float: left;
}
#m-warp .middle .m-r .m-p {
  width: 100%;
  min-height: 125px;
  height: auto;
}
#m-warp .middle .m-r .m-p p {
  line-height: 24px;
}
#m-warp .middle .m-r .m-s {
  margin-top: 26px;
  width: 100%;
}
#m-warp .middle .m-r .m-s ul li {
  margin-bottom: 2px;
  height: 29px;
  width: 100%;
  line-height: 31px;
  border: 1px solid #ececec;
}
#m-warp .middle .m-r .m-s ul li span {
  text-align: center;
  float: left;
  line-height: 29px;
  padding-right: 2%;
  padding-left: 1%;
  background: #f8f8f8 url(../images/index-en_40.jpg) no-repeat right;
  width: 20%;
}
/* index middle 结束 */

/* index links 开始 */
#links {
  width: 100%;
  margin-top: 20px;
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
}
#links ul {
}
#links ul li {
  float: left;
}
#links ul li h2 {
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  color: #333;
}
#links ul li h2 a {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
/*#links ul li ul{ margin-top:15px;}*/
#links ul li ul {
  margin-top: 0px;
}
#links ul li ul li {
  width: 100%;
  height: 25px;
  line-height: 25px;
}
#links ul li a:hover {
  text-decoration: underline;
}
#links ul li.lc {
  width: 20%;
  margin-right: 4%;
  _margin-right: 2%;
  _width: 18%;
}
#links ul li.lm {
  width: 21%;
  margin-right: 4%;
  _width: 23%;
  _margin-right: 2%;
}
#links ul li.ls {
  width: 22%;
  margin-right: 4%;
  _margin-right: 2%;
  _width: 20%;
}
#links ul li.lf {
  width: 17%;
  _width: 14%;
}
/* index links 结束 */
#footer {
  background: #dcdcdc;
  height: auto;
}
#footer .footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
#footer .footer span {
  float: right;
  line-height: 31px;
  font-weight: 700;
}
#footer .footer p {
  font-size: 11px;
}
#footer .footer a {
  font-size: 11px;
}
#footer .footer a:hover {
  text-decoration: underline;
}

/* Product */
#s-banner {
  width: 100%;
  background: #2d3a57;
  z-index: 0;
}
#s-banner img {
  width: 100%;
}

#m-warp .s-middle {
  margin-bottom: 30px;
}
/*#m-warp .s-middle .s-left{ width:18%; float:left; background-color:#e8e8e8; margin-right:2%;}*/
#m-warp .s-middle .s-left {
  width: 18%;
  float: left;
  margin-right: 2%;
}
#m-warp .s-middle .s-left ul {
  padding: 0;
  margin: 0;
}
/*#m-warp .s-middle .s-left ul li{ border-bottom:1px solid #bcbcbc; border-top:1px solid #ffffff; padding:5px 0 5px 8px; display:block;}*/
#m-warp .s-middle .s-left ul li {
  border-bottom: 1px dotted #dcdcdc;
  padding: 8px 0 8px 0px;
  display: block;
}
#m-warp .s-middle .s-left ul li a {
  color: #5b5b5b;
  line-height: 22px;
  display: block;
  font-size: 15px;
  text-transform: capitalize;
}
#m-warp .s-middle .s-left ul li a:hover {
  color: #0094da;
}
/*#m-warp .s-middle .s-left ul li.curLi{background-color:#f4f4f4; }*/
#m-warp .s-middle .s-left ul li.curLi {
}
/*#m-warp .s-middle .s-left ul li.curLi a{color:#0094da;}*/
#m-warp .s-middle .s-left ul li.curLi a {
  color: #0094da;
}
/*#m-warp .s-middle .s-left ul li.curLi a:hover{ color:#d00000;background-color:#f4f4f4; cursor:pointer;}*/
#m-warp .s-middle .s-left ul li.curLi a:hover {
  color: #d00000;
  cursor: pointer;
}
#m-warp .s-middle .s-left ul li.conLeftLast {
  border-bottom: none;
  padding: 0;
}

/*#m-warp .s-middle .s-left .second{ border-bottom:1px solid #bcbcbc; border-top:1px solid #ffffff;display:none; padding:0; }*/
#m-warp .s-middle .s-left .second {
  border-bottom: 1px dotted #dcdcdc;
  border-top: 1px solid #ffffff;
  display: none;
  padding: 0;
}
#m-warp .s-middle .s-left .second ul li {
  clear: both;
  border: none;
  font-weight: normal;
}
#m-warp .s-middle .s-left .second ul li a {
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
  color: #888;
  background: none;
}
#m-warp .s-middle .s-left .second ul li:hover {
  background-color: #f4f4f4;
  color: #5b5b5b;
  display: block;
}
#m-warp .s-middle .s-left .lis_cur {
  display: block;
}

#m-warp .s-middle .s-right {
  width: 80%;
  float: left;
  color: #5b5b5b;
  /* min-height: 1060px; */
}
/*#m-warp .s-middle .s-right .rightTitle{ background:#f3f3f3; border-bottom:1px solid #bcbcbc;border-top:1px solid #fff;padding:6px 0 5px 12px;}*/
#m-warp .s-middle .s-right .rightTitle {
  background: none;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #fff;
  padding: 8px 0 8px 0px;
}
#m-warp .s-middle .s-right .rightTitle h1 {
  font-size: 16px;
  font-weight: normal;
}
#m-warp .s-middle .s-right .rightTitle span {
  display: block;
  padding: 0 0 15px 0;
}
.guide {
  text-align: right;
  width: 100%;
}
.guide a {
  color: #0094da;
}
.guide a:hover {
  text-decoration: underline;
}

#m-warp .s-middle .s-right .rightMain {
  width: 76%;
  float: left;
  margin-right: 2%;
  margin-top: 20px;
}
#m-warp .s-middle .s-right .rightMain .rightTop {
  background-color: #f3f3f3;
  padding: 15px;
  line-height: 25px;
}
#m-warp .s-middle .s-right .rightMain .mainBox {
}
#m-warp .s-middle .s-right .rightMain .eachBox {
  padding: 20px 0;
  border-bottom: 1px solid #dcdcdc;
}

#m-warp .s-middle .s-right .rightMain .eachBox .eachImg {
  width: 17%;
  float: left;
  margin-right: 3%;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachImg img {
  width: 100%;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText {
  float: left;
  width: 80%;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText h2 {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;
  text-transform: capitalize;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText h2 a {
  color: #333;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText h2 a:hover {
  color: #0094da;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText p {
  line-height: 18px;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText .more {
  font-size: 11px;
  color: #d00000;
  display: block;
  line-height: 18px;
}
#m-warp .s-middle .s-right .rightMain .eachBox .eachText .more:hover {
  color: #0094da;
  display: block;
}

#m-warp .s-middle .s-right .rightMain .eachBox2 {
  border-bottom: 1px dashed #bcbcbc;
  width: 32%;
  float: left;
  margin-right: 1.2%;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 5px;
}
#m-warp .s-middle .s-right .rightMain .eachBox2 .eachImg {
}
#m-warp .s-middle .s-right .rightMain .eachBox2 .eachImg img {
  width: 90%;
  min-width: 108px;
  padding: 1px;
  border: 1px solid #dcdcdc;
}
#m-warp .s-middle .s-right .rightMain .eachBox2 p {
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}

#m-warp .s-middle .s-right .rightContact {
  width: 22%;
  float: right;
  margin-top: 20px;
}
/*#m-warp .s-middle .s-right .rightContact .contact-t{ font-size:14px;  padding-bottom:10px; font-weight:700;}*/
#m-warp .s-middle .s-right .rightContact .contact-t {
  font-size: 15px;
  padding-bottom: 10px;
}
#m-warp .s-middle .s-right .rightContact form {
  width: 100%;
}
#m-warp .s-middle .s-right .rightContact input {
  width: 97%;
  height: 20px;
  margin: 3px 0;
  border: 1px solid #dcdcdc;
  padding-left: 1%;
  color: #777;
  font-size: 11px;
  font-family: Century Gothic, Microsoft PhagsPa, Arial, Helvetica, sans-serif;
}
#m-warp .s-middle .s-right .rightContact select {
  width: 97%;
  height: 20px;
  margin: 3px 0;
  border: 1px solid #dcdcdc;
  padding-left: 1%;
  color: #777;
  font-size: 11px;
  font-family: Century Gothic, Microsoft PhagsPa, Arial, Helvetica, sans-serif;
}
#m-warp .s-middle .s-right .rightContact option {
  font-family: Century Gothic, Microsoft PhagsPa, Arial, Helvetica, sans-serif;
  padding-left: 1%;
}
#m-warp .s-middle .s-right .rightContact textarea {
  width: 97%;
  height: 70px;
  border: 1px solid #dcdcdc;
  margin: 3px 0;
  padding-left: 1%;
  color: #777;
  font-size: 11px;
  font-family: Century Gothic, Microsoft PhagsPa, Arial, Helvetica, sans-serif;
}
#m-warp .s-middle .s-right .rightContact .botn {
  background: url(../images/form_bot.jpg) no-repeat;
  height: 24px;
  width: 102px;
  border: 0px;
  font-family: Century Gothic, Microsoft PhagsPa, Arial, Helvetica, sans-serif;
}
/*#m-warp .s-middle .s-right .rightContact .c-1{ background:#e1e1e1 url(../images/product_en_13.jpg) no-repeat left; text-indent:40px; height:29px; line-height:29px; width:100%; margin-bottom:1px; margin-top:15px; font-size:14px; margin-top:30px;}
#m-warp .s-middle .s-right .rightContact .c-2{ background:#e1e1e1 url(../images/product_en_16.jpg) no-repeat left; text-indent:40px; height:29px; line-height:29px; width:100%;margin-bottom:1px; font-size:14px; color:#d00000;}
#m-warp .s-middle .s-right .rightContact .c-3{ background:#e1e1e1 url(../images/product_en_18.jpg) no-repeat left; text-indent:40px; height:29px; line-height:29px; width:100%;}
#m-warp .s-middle .s-right .rightContact .c-3 a{ font-size:11px;}
*/
#m-warp .s-middle .s-right .rightContact .c-1 {
  background: url(../images/product_en_13.jpg) no-repeat left;
  text-indent: 40px;
  height: 29px;
  line-height: 29px;
  width: 100%;
  margin-bottom: 1px;
  margin-top: 15px;
  font-size: 14px;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #dcdcdc;
  padding-top: 5px;
  border-top: 1px dotted #dcdcdc;
}
#m-warp .s-middle .s-right .rightContact .c-2 {
  background: url(../images/product_en_16.jpg) no-repeat left;
  text-indent: 40px;
  height: 29px;
  line-height: 29px;
  width: 100%;
  margin-bottom: 1px;
  font-size: 14px;
  color: #d00000;
  padding-bottom: 5px;
  border-bottom: 1px dotted #dcdcdc;
  padding-top: 5px;
}
#m-warp .s-middle .s-right .rightContact .c-3 {
  background: url(../images/product_en_18.jpg) no-repeat left;
  text-indent: 40px;
  height: 29px;
  line-height: 29px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px dotted #dcdcdc;
  padding-top: 5px;
}
#m-warp .s-middle .s-right .rightContact .c-3 a {
  font-size: 11px;
}
/* Product结束 */

/* Product-content 开始 */
#m-warp .s-middle .s-right .rightMain .pcImg {
  width: 100%;
}
/* 产品图片切换 */
.pcImg {
  height: 320px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.pcImg .mod_focus_pic {
  display: block;
  width: 100%;
  height: 270px;
}
.pcImg .mod_focus_pic li,
.pcImg .mod_focus_pic a,
.pcImg .mod_focus_pic img {
  display: block;
  width: 100%;
  height: 270px;
}
.pcImg .mod_focus_pic li {
  position: absolute;
  left: 0;
  top: 0;
}

.pcImg .mod_focus_title {
  display: none;
}
.pcImg .focus_switch {
  width: 100%;
  height: 29px;
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 80px;
  top: 40%;
}
.pcImg .focus_switch a {
  width: 29px;
  height: 29px;
  background-image: url(../images/icon_focus_switch.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.pcImg .focus_switch .icon_prev {
  background-position: 0 0;
  margin: 0 1px 0 0;
  float: left;
}
.pcImg .focus_switch .icon_prev:hover {
  background-position: -30px 0;
}
.pcImg .focus_switch .icon_next {
  background-position: -60px 0;
  float: right;
}
.pcImg .focus_switch .icon_next:hover {
  background-position: -90px 0;
}
.pcImg .mod_focus_list {
  padding: 5px;
  background: #dcdcdc;
  overflow: hidden;
  height: 30px;
}
.pcImg .mod_focus_list li {
  width: 70px;
  height: 30px;
  float: left;
  margin: 0 4px 0 5px;
  position: relative;
  *display: inline;
}
.pcImg .mod_focus_list li a {
  display: block;
  width: 70px;
  height: 30px;
}
.pcImg .mod_focus_list li img {
  display: block;
  width: 70px;
  height: 30px;
}
.pcImg .mod_focus_list li a:hover {
  _background: none;
}
.pcImg .mod_focus_list li a:hover .mask,
.pcImg .mod_focus_list .current .mask {
  display: none;
}
.pcImg .mod_focus_list li .mask {
  display: block;
  height: 30px;
  width: 70px;
  position: relative;
  top: -30px;
  margin: 0 0 -30px;
  eft: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.pcImg .mod_focus_list li .border {
  display: none;
}
.pcImg .mod_focus_list .current .border {
  display: block;
  height: 5px;
  width: 70px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #d00000;
}
/* 产品图片切换结束 */
#m-warp .s-middle .s-right .rightMain .pcImg .pcImg-bg {
  width: 423px;
  float: left;
  background: url(../images/pc_en_09.jpg) no-repeat right;
  padding-right: 15px;
  height: 275px;
}
#m-warp .s-middle .s-right .rightMain .pcImg .pcImg-bg img {
  width: 403px;
  padding: 9px;
  border: 1px solid #dcdcdc;
  height: 255px;
}
#m-warp .s-middle .s-right .rightMain .pcImg .pcImg-list {
  width: 135px;
  float: left;
  margin-left: 5px;
}
#m-warp .s-middle .s-right .rightMain .pcImg .pcImg-list ul li {
  margin-bottom: 2px;
}
#m-warp .s-middle .s-right .rightMain .pcImg .pcImg-list ul li img {
  width: 135px;
  height: 86px;
}
#m-warp .s-middle .s-right .p-i {
  width: 98%;
  float: left;
  margin-top: 10px;
  background-color: #f3f3f3;
  padding: 1%;
}
#m-warp .s-middle .s-right .p-r {
  width: 72%;
  float: left;
  padding-right: 1%;
}
#m-warp .s-middle .s-right .p-r p {
  line-height: 22px;
  padding-bottom: 5px;
  width: 100%;
  float: left;
}
#m-warp .s-middle .s-right .p-r a {
  background: #dcdcdc;
  border-radius: 6px;
  width: 30%;
  float: left;
  margin-right: 5%;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: #666;
}
#m-warp .s-middle .s-right .p-r a:hover {
  color: #d00000;
}
#m-warp .s-middle .s-right .p-s {
  width: 23%;
  float: left;
  border-left: 1px dashed #dcdcdc;
  padding-left: 1%;
  padding-top: 5px;
  font-size: 14px;
}
#m-warp .s-middle .s-right .p-o {
  background: url(../images/pc_en_12.png) no-repeat 0 0;
  width: 100%;
  height: 24px;
  text-indent: 30px;
}
#m-warp .s-middle .s-right .p-t {
  background: url(../images/pc_en_12.png) no-repeat 1px -28px;
  width: 100%;
  height: 24px;
  text-indent: 30px;
  font-size: 12px;
}
#m-warp .s-middle .s-right .p-e {
  background: url(../images/pc_en_12.png) no-repeat 1px -53px;
  width: 100%;
  height: 24px;
  text-indent: 30px;
}

/* Product-content滑动门 */
#m-warp .s-middle .s-right .p-info {
  width: 100%;
  float: left;
  margin-top: 15px;
}
#m-warp .s-middle .s-right .p-info .TabTitle {
  clear: both;
  height: 30px;
  overflow: hidden;
  border-bottom: 2px #c4c4c4 solid;
}
#m-warp .s-middle .s-right .p-info .TabTitle ul {
}
#m-warp .s-middle .s-right .p-info .TabTitle li {
  float: left;
  width: 120px;
  cursor: pointer;
  margin-right: 2px;
  text-align: center;
  line-height: 30px;
}
#m-warp .s-middle .s-right .p-info .TabTitle .active {
  background: #d00000;
  color: #fff;
}
#m-warp .s-middle .s-right .p-info .TabTitle .active a {
  color: #fff;
}
#m-warp .s-middle .s-right .p-info .TabTitle .normal {
  background: #e1e1e1;
}
#m-warp .s-middle .s-right .p-info .TabContent {
  width: 100%;
  margin-top: 15px;
}
.none {
  display: none;
}
#m-warp .s-middle .s-right .p-info .TabContent ul {
  width: 75%;
}
#m-warp .s-middle .s-right .p-info .TabContent p {
  line-height: 20px;
}
#m-warp .s-middle .s-right .p-info .TabContent p a {
  color: #d00000;
  display: block;
}
#m-warp .s-middle .s-right .p-info .TabContent p a:hover {
  color: #0094da;
}
#m-warp .s-middle .s-right .p-info .TabContent h3 {
  padding-bottom: 10px;
}
#m-warp .s-middle .s-right .p-info .TabContent ul li {
  line-height: 25px;
  display: inline-block;
  width: 100%;
}
#m-warp .s-middle .s-right .p-info .TabContent ul li img {
  width: 107px;
  height: 82px;
  float: left;
  clear: left;
  margin-right: 20px;
}
#m-warp .s-middle .s-right .p-info .TabContent ul li p {
  height: 82px;
}
#m-warp .s-middle .s-right .p-info .TabContent ul li p a {
  color: #454545;
  display: inline;
}
#m-warp .s-middle .s-right .p-info h3 {
  font-size: 14px;
  font-weight: 700;
}
#m-warp .s-middle .s-right .p-info table {
  border: 1px solid #ddd;
}
#m-warp .s-middle .s-right .p-info table td {
  line-height: 20px;
  text-align: center;
  border: 1px solid #ddd;
}
#m-warp .s-middle .s-right .p-info table td a {
  color: #454545;
}

/* Product-content 结束 */

#s-banner2 {
  width: 100%;
  background: #2d3a57;
  z-index: 0;
  overflow: hidden;
}
#s-banner2 img {
  width: 100%;
}

/*news栏目页面*/
.single-nav {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-bottom: 1px dotted #cbcbcb;
}
.single-nav h1 {
  line-height: 35px;
  font-size: 14px;
}
.single-nav span {
  float: right;
  clear: right;
  font-size: 12px;
  font-weight: normal;
  line-height: 35px;
}

.news-h {
  margin-top: 15px;
}
.news-list {
}
.news-list ul {
  padding: 15px 0;
  border-bottom: 1px dotted #cbcbcb;
}
.news-list ul li {
  background: url(../images/news_20.jpg) no-repeat left 8px;
  line-height: 25px;
  padding-left: 16px;
}
.news-list ul li span {
  float: right;
  line-height: 25px;
}
.news-top {
  border-bottom: 1px dotted #cbcbcb;
  margin-bottom: 10px;
}

.news-picnews {
  min-width: 320px;
  height: 244;
  float: left;
  width: 34%;
  margin-top: 10px;
}
/*news栏目图片切换*/
.news-picnews .mod_focus_show {
  width: 320px;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.news-picnews .mod_focus_show .mod_focus_pic {
  display: block;
  width: 320px;
  height: 240px;
}
.news-picnews .mod_focus_show .mod_focus_pic li,
.mod_focus_show .mod_focus_pic a,
.mod_focus_show .mod_focus_pic img {
  display: block;
  width: 320px;
  height: 240px;
}
.news-picnews .mod_focus_show .mod_focus_pic li {
  position: absolute;
  left: 0;
  top: 0;
}
.news-picnews .mod_focus_show .mod_focus_title {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0px;
  overflow: hidden;
  zoom: 1;
  width: 320px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CC000000',endColorstr='#CC000000');
  background-image: url(about:blank);
}
:root .mod_focus_title {
  filter: none;
}
.news-picnews .mod_focus_show .mod_focus_title li {
  text-indent: 0;
  padding: 0;
  width: 245px;
  padding: 0 0 0 5px;
  overflow: hidden;
}
.news-picnews .mod_focus_show .mod_focus_title li h3 {
  line-height: 40px;
  _line-height: 40px;
  font-size: 11px;
  font-family: 'Microsoft Yahei', Tahoma, Geneva;
  font-weight: 500;
}
.news-picnews .mod_focus_show .mod_focus_title li h3 a {
  color: #fff;
}

.news-picnews .focus_switch {
  width: 59px;
  height: 29px;
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 205px;
}
.news-picnews .focus_switch a {
  float: left;
  width: 29px;
  height: 29px;
  background-image: url(../images/icon_focus_switch.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.news-picnews .focus_switch .icon_prev {
  background-position: 0 0;
  margin: 0 1px 0 0;
}
.news-picnews .focus_switch .icon_prev:hover {
  background-position: -30px 0;
}
.news-picnews .focus_switch .icon_next {
  background-position: -60px 0;
}
.news-picnews .focus_switch .icon_next:hover {
  background-position: -90px 0;
}
.news-picnews .mod_focus_show .mod_focus_list {
  padding: 2px 0px;
  background: #000;
  overflow: hidden;
  height: 30px;
}
.news-picnews .mod_focus_show .mod_focus_list li {
  width: 60px;
  height: 40px;
  float: left;
  margin: 0 4px 0 5px;
  position: relative;
  *display: inline;
}
.news-picnews .mod_focus_show .mod_focus_list li a {
  display: block;
  width: 60px;
  height: 30px;
}
.news-picnews .mod_focus_show .mod_focus_list li img {
  display: block;
  width: 60px;
  height: 30px;
}
.news-picnews .mod_focus_show .mod_focus_list li a:hover {
  _background: none;
}
.news-picnews .mod_focus_show .mod_focus_list li a:hover .mask,
.mod_focus_show .mod_focus_list .current .mask {
  display: none;
}
.news-picnews .mod_focus_show .mod_focus_list li .mask {
  display: block;
  height: 30px;
  width: 60px;
  position: relative;
  top: -30px;
  margin: 0 0 -30px;
  eft: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.news-picnews .mod_focus_show .mod_focus_list li .border {
  display: none;
}
.news-picnews .mod_focus_show .mod_focus_list .current {
  height: 30px;
}
.news-picnews .mod_focus_show .mod_focus_list .current .border {
  display: block;
  height: 5px;
  width: 60px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #98e404;
}
/*news栏目图片切换end*/

.news-first {
  float: right;
  width: 58%;
  margin-top: 10px;
}
.news-first h3 {
  background: url(../images/news_16.jpg) no-repeat left 5px;
  line-height: 20px;
  border-bottom: 1px dotted #cbcbcb;
  padding-left: 15px;
  color: #444;
}
.news-first p {
  background: url(../images/about_21.jpg) repeat;
  line-height: 23px;
  margin-top: 10px;
  height: 70px;
  min-height: 23px;
  height: auto;
  padding-bottom: 5px;
}
.news-first a {
  color: #387292;
  display: block;
}

.news-list2 {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.news-list2 ul {
  padding-top: 5px;
}
.news-list2 ul li {
  background: url(../images/news_29.jpg) no-repeat left 7px;
  line-height: 25px;
  border-bottom: 1px dotted #cbcbcb;
  padding-left: 16px;
}
.news-list2 ul li span {
  float: right;
  line-height: 25px;
}

/*****news-滑动门*****/
.news-link {
  width: 100%;
  margin-bottom: 40px;
  height: 150px;
}
.news-link .TabTitle {
  clear: both;
  height: 25px;
  overflow: hidden;
  border-bottom: 1px #cbcbcb solid;
}
.news-link .TabTitle ul {
  border: 0;
  margin: 0;
  padding: 0;
}
.news-link .TabTitle li {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 155px;
  text-align: center;
  cursor: pointer;
  list-style-type: none;
}
.news-link .TabTitle .active {
  background: url(../images/news_35.jpg) repeat-x;
  border: 0px;
  color: #fff;
}
.news-link .TabTitle .normal {
  background: url(../images/news_36.jpg) repeat-x;
  border: 0px;
}
.news-link .TabContent {
  width: 100%;
  padding-top: 20px;
  height: 125px;
}
.news-link .TabContent ul li {
  width: 19.8%;
  float: left;
  text-align: left;
}
.news-link .TabContent ul li p {
  width: 82%;
}
.news-link .TabContent ul li img {
  width: 82%;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid #cbcbcb;
}
.none {
  display: none;
}
/*****news-滑动门end*****/

/*****news-list*****/
.newslist {
  margin-bottom: 20px;
}
.newslist ul li {
  border-bottom: 1px solid #cbcbcb;
  line-height: 25px;
  margin-top: 30px;
}
.newslist ul li a {
  color: #008cd7;
}
.newslist ul li a:hover {
  color: #387292;
}
.newslist ul li p {
  padding-bottom: 5px;
}

/*****news-content*****/
.newsinfo {
  padding-top: 15px;
  margin-bottom: 40px;
}
.newsinfo p {
  padding-bottom: 15px;
  width: 100%;
}
.newsinfo p img {
  padding: 2px;
  border: 1px solid #cbcbcb;
  margin-bottom: 10px;
  text-align: center;
  max-width: 98%;
}

/*****project-content*****/
.projects-info1,
.projects-info {
  padding-bottom: 25px;
  border-bottom: 1px dotted #bcbcbc;
  height: auto;
  margin-bottom: 10px;
  line-height: 24px;
}
.projects-info1 h3,
.projects-info h3,
.projects-info1 span,
.projects-info span {
  color: #008cd7;
  font-size: 13px !important;
  font-weight: normal !important;
}
.projects-info p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.projects-info table {
  background: #cbcbcb;
}
.projects-info td {
  line-height: 25px;
  text-align: center;
  background: #fff;
}
.projects-info1 img {
  width: 100%;
}

/*****contact*****/
.about-info {
  width: 85%;
}
.about-info p {
  margin-top: 15px;
}
.about-info p strong {
  font-size: 14px;
}
.about-info a {
  color: #008cd7;
}
.about-info form {
}
.about-info table td {
  font-size: 12px;
}
.about-info form input {
  height: 20px;
  line-height: 20px;
  margin: 3px 0;
  border: 1px solid #dcdcdc;
  padding-left: 1%;
  color: #777;
  font-size: 12px;
  width: 80%;
}
.about-info form .gsc-search-button {
  height: auto !important;
  padding-left: 27px !important;
  width: auto !important;
}
.about-info form textarea {
  height: 80px;
  border: 1px solid #dcdcdc;
  margin: 3px 0;
  padding-left: 1%;
  color: #777;
  font-size: 12px;
}
.about-info form select {
  border: 1px solid #dcdcdc;
  margin: 3px 0;
  padding-left: 1%;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.about-info form option {
  padding-left: 1%;
  height: 20px;
  line-height: 20px;
}
.about-info .form-top {
  background-color: #ddd;
  height: 30px;
  line-height: 30px;
  width: 450px;
}

.peijian {
}
.peijian p {
  font-weight: bold;
  border-bottom: 1px solid #cbcbcb;
}
.peijian ul li {
  width: 180px;
  float: left;
  text-align: center;
}
.peijian ul li img {
  width: 160px;
  height: 120px;
  padding: 2px;
  border: 1px solid #cbcbcb;
}

/*****about*****/
.about-top {
  border-bottom: 1px dotted #cbcbcb;
}
.about-list {
  margin-bottom: 40px;
}
.about-list ul li {
  min-width: 306px;
  float: left;
  width: 30%;
  margin-right: 2%;
  padding-top: 30px;
}
.about-list ul li p {
  background: url(../images/about_21.jpg) repeat;
  line-height: 23px;
  margin-top: 10px;
  height: 70px;
  width: 306px;
}
.about-memos {
  background: url(../images/products2_04.jpg) repeat;
  line-height: 30px;
}

/*****about-content*****/
.about-info2 {
}
.about-right {
  float: right;
  margin-top: 15px;
  padding-left: 20px;
  clear: right;
  min-width: 313px;
  height: auto;
}
.about-info2 p {
  margin-top: 15px;
}
.about-info2 p strong {
  font-size: 14px;
  color: #008cd7;
}
.about-right {
  float: right;
  margin-top: 15px;
  padding-left: 20px;
  clear: right;
  min-width: 313px;
  height: auto;
}
.about-info2 img {
  width: 90%;
}

.about-linian {
  margin-top: 10px;
  border-bottom: 1px dashed #dcdcdc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.about-linian p {
  line-height: 25px;
}
.about-linian p strong {
  font-size: 13px;
  color: #444;
}

.about-rongyu4,
.about-rongyu3,
.about-rongyu2,
.about-rongyu {
  background: url(../images/about4_03.jpg) no-repeat left center;
  height: auto;
  padding: 30px 0;
  padding-left: 145px;
  border-bottom: 1px dotted #cbcbcb;
}
.about-rongyu4 p,
.about-rongyu3 p,
.about-rongyu2 p,
.about-rongyu p {
  line-height: 26px;
}
.about-rongyu2 {
  background: url(../images/about4_06.jpg) no-repeat left center;
}
.about-rongyu3 {
  background: url(../images/about4_02.jpg) no-repeat left center;
}
.about-rongyu4 {
  background: url(../images/about4_01.jpg) no-repeat left center;
}

/* 专题 */
.s-sub3,
.s-sub2,
.s-sub {
  margin-top: 15px;
}
.s-sub3 h2,
.s-sub2 h2,
.s-sub h2 {
  height: 20px;
  font-size: 16px;
  padding-right: 25px;
  font-weight: 700;
  color: #d59600;
}
.s-sub3 h2 img,
.s-sub2 h2 img,
.s-sub h2 img {
  margin-left: 5px;
  vertical-align: middle;
}
.s-sub3 h2 span,
.s-sub2 h2 span,
.s-sub h2 span {
  background-color: #d59600;
  width: 15px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5px;
  float: left;
  clear: left;
  padding-right: 2px;
}
.s-sub2 h2 {
  color: #518901;
}
.s-sub2 h2 span {
  background-color: #518901;
}
.s-sub3 h2 {
  color: #008cd7;
}
.s-sub3 h2 span {
  background-color: #008cd7;
}

.sub-i2,
.sub-i {
  margin-top: 10px;
  background: #f6f6f6;
  height: 198px;
}
.sub-i2 p,
.sub-i p {
  padding: 10px 30px 10px 15px;
  line-height: 26px;
  float: left;
  width: 58%;
}
.sub-i2 img,
.sub-i img {
  width: 358px;
  height: 198px;
  border-left: 2px solid #fff;
  float: right;
}
.sub-i2 img {
  float: left;
}
.sub-i3 a,
.sub-i2 a,
.sub-i a {
  color: #008cd7;
}
.sub-i3 a:hover,
.sub-i2 a:hover,
.sub-i a:hover {
  color: #d00000;
}
.sub-i2 {
  background: none;
}
.sub-i2 p {
  padding: 0;
  padding-left: 30px;
}
.sub-i3 {
  background: #f6f6f6;
  margin-top: 10px;
}
.sub-i3 p {
  padding: 10px 15px;
  line-height: 26px;
}

/* 产品专题 */
#p-warp {
  background: url(../images/products-page/product-page_02.jpg) repeat-x;
  padding-bottom: 10px;
  padding-top: 20px;
}
#p-warp2 {
  background: url(../images/products-page/product-page_01.jpg) repeat-x;
  padding-bottom: 10px;
  padding-top: 20px;
}
.p-top {
  height: 235px;
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
  padding: 0 3%;
}
.p-top span {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.p-top h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.p-top p {
  line-height: 22px;
  padding-bottom: 10px;
}
.p-form {
  background: #fff;
  padding: 10px 15px;
}
.p-form p {
  padding-bottom: 5px;
}
.p-form span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.p-form table td {
  padding: 1px 0;
}
.p-form table td span {
  color: #d00000;
  font-size: 12px;
  font-weight: normal;
}
.p-form form select,
.p-form form textarea,
.p-form form input {
  line-height: 20px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  font-weight: normal;
  width: 98%;
  height: 20px;
  font-size: 11px;
}
.p-form form textarea {
  height: 46px;
}
.p-form form input.p-bot {
  height: 22px;
  width: 63px;
  border: 1px solid #dcdcdc;
  margin-top: 20px;
}

.p-l-t {
  height: 120px;
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
  padding: 0 3%;
}
.p-l-t p {
  padding-top: 20px;
}
.p-title {
  background: url(../images/products-page/product-page_07.jpg) no-repeat left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-indent: 15px;
}

.p-list {
  height: 245px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #dcdcdc;
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
  padding: 0 3%;
}
.p-list span {
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
}
.p-pic {
  float: left;
  width: 314px;
  height: 178px;
  background: url(../images/products-page/product-page_10.jpg) no-repeat left;
  margin-right: 2%;
}
.p-pic img {
  width: 298px;
  height: 162px;
  border: 2px solid #fff;
  margin: 6px;
}
.p-m {
  float: left;
  width: 32%;
  height: 178px;
  margin-right: 2%;
}
.p-m p {
  line-height: 24px;
  padding-bottom: 20px;
}
.p-m a {
  color: #d00000;
  font-size: 10px;
}
.p-m a:hover {
  color: #0094da;
}
.p-f {
  float: left;
  height: 178px;
  width: 30%;
}

.p-f5,
.p-f4,
.p-f3,
.p-f2,
.p-f1 {
  background: url(../images/products-page/product-page_13.jpg) no-repeat left
    5px;
  line-height: 22px;
  text-indent: 25px;
  margin: 5px 0;
}
.p-f2 {
  background: url(../images/products-page/product-page_16.jpg) no-repeat left
    6px;
}
.p-f3 {
  background: url(../images/products-page/product-page_17.jpg) no-repeat left
    6px;
}
.p-f4 {
  background: url(../images/products-page/product-page_18.jpg) no-repeat left
    6px;
}
.p-f5 {
  background: url(../images/products-page/product-page_19.jpg) no-repeat left
    6px;
}
.p-f img {
  width: 220px;
}
.p-t {
  background: url(../images/pc_en_12.png) no-repeat 1px -28px;
  width: 100%;
  height: 24px;
  text-indent: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #d00000;
  margin-bottom: 5px;
}
.p-e {
  background: url(../images/pc_en_12.png) no-repeat 1px -53px;
  width: 100%;
  height: 24px;
  text-indent: 30px;
}

.pp-pic {
  float: left;
}
.pp-list {
  padding-bottom: 20px;
}
.pp-list ul li {
  width: 23%;
  padding-right: 2%;
  float: left;
}
.pp-list ul li img {
  width: 99%;
}

/* 分页 */
.page,
.wp-pagenavi {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  font-size: 12px;
  margin-top: 15px;
}
.page a,
.wp-pagenavi a {
  display: block;
  color: #888;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0px;
  border: 1px solid #888;
  padding-top: 3px;
  float: left;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  height: 18px;
}
.page span,
.wp-pagenavi span {
  display: block;
  color: #888;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0px;
  padding: 3px;
  float: left;
  margin: 2px;
  text-align: center;
  height: 18px;
} /* SPAN和链接 */
.page a:hover,
.page a.current,
.wp-pagenavi a:hover,
.wp-pagenavi a.current {
  color: #11619c;
  border: 1px solid #11619c;
} /* 当前链接有激活时 */
.page input,
.wp-pagenavi input {
  padding: 0px;
  color: #888;
  height: 16px;
  width: 25px;
  border: 0px solid #fff;
  text-align: center;
  margin-top: 0px;
  margin-right: -5px;
  margin-bottom: 0px;
  margin-left: -5px;
  vertical-align: middle;
  font-size: 12px;
} /* 跳转INPUT */

.print {
  background: url(../images/icon_print.gif) no-repeat;
  padding-left: 22px;
  color: #008cd7;
}
